In [2]:
## DESCRIPTION
#

In [3]:
import sys

lib_dir = "/home/daniele/documents/github/ftt01/phd/share/lib"
sys.path.insert( 0, lib_dir )

In [4]:
from lib import *

In [5]:
wdir = "/home/daniele/documents/github/ftt01/phd/projects/era5_evaluation/"
current = DataCollector(configPath=wdir + "etc/conf/")

In [6]:
## SETUP
basin = 'AA'
# for output name
basin_str = 'alto_adige'

start_date_str = "2010-01-01T00:00:00"
end_date_str = "2019-12-31T23:00:00"
start_date = dt.datetime.strptime( start_date_str, '%Y-%m-%dT%H:%M:%S' )
end_date = dt.datetime.strptime( end_date_str, '%Y-%m-%dT%H:%M:%S' )

In [7]:
## GROUND STATIONS DATASET ##
# prec_data
precipitation_gs_path = "/media/windows/projects/era5_bias/00_data/meteo/aa/P_AltoAdige.in"

prec_data = pd.read_csv( precipitation_gs_path, header=0, index_col=0, parse_dates=True )
prec_data.replace(-999,np.NaN, inplace=True)
prec_data.index.name = "datetime"

# temp_data
temp_gs_path = "/media/windows/projects/era5_bias/00_data/meteo/aa/TMEAN_AltoAdige.in"

temp_data = pd.read_csv( temp_gs_path, header=0, index_col=0, parse_dates=True )
temp_data.replace(-999,np.NaN, inplace=True)
temp_data.index.name = "datetime"

# metadata
gs_metadata = "/media/windows/projects/era5_bias/00_data/meteo/aa/AA_stations_metadata.csv"
metadata_tot = pd.read_csv( gs_metadata, header=0 )

In [8]:
len(prec_data.columns)

44

In [10]:
### evaluate the monthly average
## aggredate the data
gs_prec_jan = prec_data.loc[(prec_data.index.month==1)]
gs_prec_feb = prec_data.loc[(prec_data.index.month==2)]
gs_prec_mar = prec_data.loc[(prec_data.index.month==3)]
gs_prec_apr = prec_data.loc[(prec_data.index.month==4)]
gs_prec_may = prec_data.loc[(prec_data.index.month==5)]
gs_prec_jun = prec_data.loc[(prec_data.index.month==6)]
gs_prec_jul = prec_data.loc[(prec_data.index.month==7)]
gs_prec_aug = prec_data.loc[(prec_data.index.month==8)]
gs_prec_sep = prec_data.loc[(prec_data.index.month==9)]
gs_prec_oct = prec_data.loc[(prec_data.index.month==10)]
gs_prec_nov = prec_data.loc[(prec_data.index.month==11)]
gs_prec_dec = prec_data.loc[(prec_data.index.month==12)]

## evaluate the mean, dropping stations with all NaN
gs_prec_jan_mean = gs_prec_jan.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_feb_mean = gs_prec_feb.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_mar_mean = gs_prec_mar.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_apr_mean = gs_prec_apr.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_may_mean = gs_prec_may.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_jun_mean = gs_prec_jun.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_jul_mean = gs_prec_jul.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_aug_mean = gs_prec_aug.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_sep_mean = gs_prec_sep.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_oct_mean = gs_prec_oct.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_nov_mean = gs_prec_nov.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()
gs_prec_dec_mean = gs_prec_dec.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nansum(x)).dropna(how='all').mean(axis=1).mean()

total_prec_yearly_mean = np.sum([
    gs_prec_jan_mean,gs_prec_feb_mean,gs_prec_mar_mean,
    gs_prec_apr_mean,gs_prec_may_mean,gs_prec_jun_mean,
    gs_prec_jul_mean,gs_prec_aug_mean,gs_prec_sep_mean,
    gs_prec_oct_mean,gs_prec_nov_mean,gs_prec_dec_mean])

print(total_prec_yearly_mean)

941.1175428900062

In [72]:
### evaluate the monthly average
## aggredate the data
gs_temp_jan = temp_data.loc[(temp_data.index.month==1)]
gs_temp_feb = temp_data.loc[(temp_data.index.month==2)]
gs_temp_mar = temp_data.loc[(temp_data.index.month==3)]
gs_temp_apr = temp_data.loc[(temp_data.index.month==4)]
gs_temp_may = temp_data.loc[(temp_data.index.month==5)]
gs_temp_jun = temp_data.loc[(temp_data.index.month==6)]
gs_temp_jul = temp_data.loc[(temp_data.index.month==7)]
gs_temp_aug = temp_data.loc[(temp_data.index.month==8)]
gs_temp_sep = temp_data.loc[(temp_data.index.month==9)]
gs_temp_oct = temp_data.loc[(temp_data.index.month==10)]
gs_temp_nov = temp_data.loc[(temp_data.index.month==11)]
gs_temp_dec = temp_data.loc[(temp_data.index.month==12)]


## evaluate the mean, dropping stations with all NaN
gs_temp_jan_mean = gs_temp_jan.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_feb_mean = gs_temp_feb.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_mar_mean = gs_temp_mar.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_apr_mean = gs_temp_apr.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_may_mean = gs_temp_may.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_jun_mean = gs_temp_jun.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_jul_mean = gs_temp_jul.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_aug_mean = gs_temp_aug.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_sep_mean = gs_temp_sep.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_oct_mean = gs_temp_oct.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_nov_mean = gs_temp_nov.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()
gs_temp_dec_mean = gs_temp_dec.resample("MS").agg(lambda x: np.nan if np.isnan(x).all() else np.nanmean(x)).dropna(how='all').mean(axis=1).mean()

gs_temp_w_mean=np.mean([gs_temp_dec_mean,gs_temp_jan_mean,gs_temp_feb_mean])
gs_temp_sp_mean=np.mean([gs_temp_mar_mean,gs_temp_apr_mean,gs_temp_may_mean])
gs_temp_su_mean=np.mean([gs_temp_jun_mean,gs_temp_jul_mean,gs_temp_aug_mean])
gs_temp_a_mean=np.mean([gs_temp_sep_mean,gs_temp_oct_mean,gs_temp_nov_mean])

print("T mean")
print(gs_temp_w_mean)
print(gs_temp_sp_mean)
print(gs_temp_su_mean)
print(gs_temp_a_mean)

gs_temp_w_min=np.min([gs_temp_dec_mean,gs_temp_jan_mean,gs_temp_feb_mean])
gs_temp_sp_min=np.min([gs_temp_mar_mean,gs_temp_apr_mean,gs_temp_may_mean])
gs_temp_su_min=np.min([gs_temp_jun_mean,gs_temp_jul_mean,gs_temp_aug_mean])
gs_temp_a_min=np.min([gs_temp_sep_mean,gs_temp_oct_mean,gs_temp_nov_mean])

print("T min")
print(gs_temp_w_min)
print(gs_temp_sp_min)
print(gs_temp_su_min)
print(gs_temp_a_min)

gs_temp_w_max=np.max([gs_temp_dec_mean,gs_temp_jan_mean,gs_temp_feb_mean])
gs_temp_sp_max=np.max([gs_temp_mar_mean,gs_temp_apr_mean,gs_temp_may_mean])
gs_temp_su_max=np.max([gs_temp_jun_mean,gs_temp_jul_mean,gs_temp_aug_mean])
gs_temp_a_max=np.max([gs_temp_sep_mean,gs_temp_oct_mean,gs_temp_nov_mean])

print("T max")
print(gs_temp_w_max)
print(gs_temp_sp_max)
print(gs_temp_su_max)
print(gs_temp_a_max)

T mean
-3.1282346268239913
4.938314900290874
14.226382772593121
5.8825396275465565
T min
-4.024826575925266
1.2148509401642462
13.267831102392742
1.270450873704136
T max
-2.579094457367246
8.39040498377307
15.031360103498676
10.345184663986963

In [22]:
metadata_tot

,ID,East,North,Elevation,Station,ID_UI,flagT,flagP,flagQ
0,1,677938.1,5142636,227.00,ADIGE A BRONZOLO,85550PG,1,0,1
1,2,642993.5,5164882,630.00,ADIGE A LACES (MAG),-999,1,1,0
2,3,664144.6,5169364,284.00,ADIGE A MARLENGO (MAG),-999,1,1,0
3,4,625238.0,5164694,872.12,ADIGE A ORIS,08155PG,0,0,1
4,5,676880.7,5150255,238.00,ADIGE A PONTE ADIGE,29850PG,0,0,1
...,...,...,...,...,...,...,...,...,...
219,220,685228.0,5195148,943.00,VIPITENO SUD,37100MS,1,1,0
220,221,685042.1,5196685,948.00,VIPITENO-CONVENTO,-999,1,1,0
221,222,692989.6,5206528,2777.00,WOLFENDORN,-999,1,0,0
222,223,732177.0,5223908,2260.00,ZILLERGRUND PLATTKOPF,-999,1,1,0
223,224,638054.0,5177103,1770.00,GERSTGRAS,15570PG,0,0,1

In [23]:
precipitation_gs = metadata_tot[metadata_tot['flagP']==1][['ID','Elevation']].set_index('ID').rename(columns={'Elevation':'precipitation'})
temperature_gs = metadata_tot[metadata_tot['flagT']==1][['ID','Elevation']].set_index('ID').rename(columns={'Elevation':'temperature'})

In [32]:
precipitation_gs

     precipitation
ID
2            630.0
3            284.0
6            239.0
9            213.0
10           907.0
..             ...
217         1700.0
219          943.0
220          943.0
221          948.0
223         2260.0

[132 rows x 1 columns]

In [ ]:
xx = pd.concat( [precipitation_gs, temperature_gs], axis=1 )

plt.hist([xx['precipitation'], xx['temperature']], 25, label=['precipitation', 'temperature'])
plt.legend(loc='upper right')
# plt.show()

In [ ]:
output_path = current.config["output_path"] + "meteo/alto_adige/"
mkNestedDir(output_path)

##
output_file = output_path + "gs_histograph_vsElevation.tiff"

c_fig, c_axs = instantiatePlot( 'Elevation [m]', 'N. of stations' )
c_axs.hist([xx['precipitation'], xx['temperature']], bins=25, color=['y','g'], label=['precipitation','temperature'])
c_axs.set_ylim(0,20)
c_axs.legend()
plt.xticks(np.arange(0,3500,250))
plt.yticks(np.arange(0,20,2))
plt.tight_layout()
c_fig.savefig(
    output_file, 
    format='tiff',
    facecolor='w',
    dpi=300)

plt.close(fig=c_fig)

##

output_file_hd = output_path + "gs_histograph_vsElevation_HD.tiff"

c_fig, c_axs = instantiatePlot( 'Elevation [m]', 'N. of stations' )
c_axs.hist([xx['precipitation'], xx['temperature']], bins=25, color=['y','g'], label=['precipitation','temperature'])
c_axs.set_ylim(0,20)
c_axs.legend()
plt.xticks(np.arange(0,3500,250))
plt.yticks(np.arange(0,20,2))
plt.tight_layout()
c_fig.savefig(
    output_file_hd, 
    format='tiff',
    facecolor='w',
    dpi=600)

plt.close(fig=c_fig)